[submodule "metaartserver/dalle_net"]
	path = metaartserver/dalle_net
	url = https://github.com/maroomir/DALLE-pytorch.git
[submodule "metaartserver/nerf_net"]
	path = metaartserver/nerf_net
	url = https://github.com/maroomir/nerf_pl.git
