# Common
torch
torchvision
pytorch-lightning<1.7.0
tqdm
matplotlib
opencv-python
pillow<=8.4.0

# REST API
Flask
Flask-Cors
Flask-RESTful

# DALL-E
ftfy
einops
regex
tokenizers
transformers
tqdm
omegaconf
youtokentome

# Mesh
PyMCubes
pycollada
trimesh
pyglet

# Point Cloud
plyfile
open3d

# Debugging
test-tube
kornia