# Common
torch
torchvision
pytorch-lightning<1.7.0
tqdm
matplotlib
opencv-python

# REST API
Flask
Flask-Cors
Flask-RESTful

# DALL-E
dalle-pytorch==0.14.3
deepspeed==0.4.2
triton==0.4.2

# Mesh
PyMCubes
pycollada
trimesh
pyglet

# Point Cloud
plyfile
open3d

# Debugging
test-tube
kornia